<nav class="navbar navbar-light bg-light">
  <form class="form-inline" [formGroup]="formGroup">
    <div class="mr-sm-2">
      <app-clazz-select
        [setSchoolId]="schoolID$ | async"
        formControlName="clazzId">
    </app-clazz-select>
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="getCourseTableByClazz()">搜索</button>
  </form>
</nav>

<div class="schedule-container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>时间</th>
      <th>周一</th>
      <th>周二</th>
      <th>周三</th>
      <th>周四</th>
      <th>周五</th>
      <th>周六</th>
      <th>周日</th>
    </tr>
    </thead>
    <tbody>
    <!-- 遍历时间段 -->
    <tr *ngFor="let period of periods">
      <td>{{ period.time }}</td>

      <!-- 遍历每天的课程信息 -->
      <td *ngFor="let day of days">
        <ng-container *ngIf="getClassInfo(day, period.time) as classInfo; else noCourse">
          <p [ngStyle]="{ color: 'green' }">{{ classInfo.courseName }}</p>
          <p>{{ classInfo.startWeek }} - {{ classInfo.endWeek }} 周 {{ classInfo.status }}</p>
        </ng-container>
        <ng-template #noCourse></ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</div>

