<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input [(ngModel)]="searchName" name="searchName" class="form-control mr-sm-2" type="search" placeholder="请输入教师姓名" aria-label="Search" >
    <input [(ngModel)]="searchTeacherNo" name="searchTeacherNo" class="form-control mr-sm-2" type="search" placeholder="请输入教师工号" aria-label="Search" >
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="onSearch()">搜索</button>
  </form>
</nav>

<div class="row">
  <div class="col-12 text-right">
    <a class="btn btn-primary mr-2" routerLink="./add"><i class="fas fa-plus"></i>新增</a>
  </div>

  <table class="table table-striped mt-2">
    <thead>
    <tr class="table-primary">
      <th>序号</th>
      <th>姓名</th>
      <th>工号</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let teacher of pageData.content; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ teacher.name }}</td>
      <td>{{ teacher.teacher_no}}</td>
      <td>
        <a class="btn btn-outline-primary btn-sm" [routerLink]="'edit/' + teacher.id">
          <i class="fa fa-pen"></i>编辑
        </a>
        <span class="btn btn-outline-danger btn-sm" (click)="onDelete(teacher.id)">
          <i class="far fa-trash-alt"></i>删除
        </span>
      </td>
    </tr>
    </tbody>
  </table>
  <ng-template #noDelete>
  </ng-template>
</div>
<!--$event是angular的一个关键字，表示子组件弹出的内容-->
<div class="text-right mr-2">
  <app-page [page]="pageData" (beCurrentPageChange)="onPage($event)" (beSizeChange)="onSize($event)"></app-page>
</div>
