<form class="container-sm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">姓名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" formControlName="name" id="name">
            <div *ngIf="formGroup.get('name')?.invalid" class="text-danger mt-1">姓名不能为空</div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="student_no" class="col-sm-2 col-form-label">学号</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="student_no" formControlName="student_no" id="student_no">
      <div *ngIf="formGroup.get('student_no')?.invalid" class="text-danger mt-1">学号不能为空</div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">学校</label>
    <div class="col-sm-10">
      <app-school-select formControlName="school_id"></app-school-select>
      <div *ngIf="formGroup.get('school_id')?.invalid" class="text-danger mt-1">必须指定一个学校</div>
    </div>
  </div>
  <div *ngIf="formGroup.get('school_id')?.value" class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">班级</label>
    <div class="col-sm-10">
      <app-clazz-select [setSchoolId]="formGroup.get('school_id').value" formControlName="clazz_id"></app-clazz-select>
      <div *ngIf="formGroup.get('clazz_id')?.invalid" class="text-danger mt-1">必须指定一个班级</div>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-10 offset-2">
      <button class="btn btn-primary" [disabled]="formGroup.invalid">保存</button>
    </div>
  </div>
</form>
