<form class="container-sm" (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <div class="mb-3 row mt-1">
    <label for="school" class="col-sm-2 col-form-label">学校：</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="school" id="school" [value]="school" readonly />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="clazz" class="col-sm-2 col-form-label">班级：</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="clazz" id="clazz" formControlName="clazz">
      <div class="text-danger"
           *ngIf="formGroup.get('clazz')?.invalid">
        班级不能为空
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-10 offset-2">
      <button class="btn btn-primary"
              [disabled]="formGroup.invalid">保存</button>
    </div>
  </div>
</form>
