<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <div class="form-group mr-sm-2">
      <label for="term" class="sr-only">Term</label>
      <input type="text" readonly class="form-control-plaintext" id="term" value="2023-2024学年春">
    </div>
    <div class="mr-sm-2">
      <nz-select nzPlaceHolder="选择周次"
                 [(ngModel)]="selectedWeek"
                  name="selectedWeek">
        <nz-option  *ngFor="let week of weeks" [nzValue]="week" [nzLabel]="'第' + week + '周'"></nz-option>
      </nz-select>
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0">搜索</button>
  </form>
</nav>

<div class="row">
  <div class="col-12 text-right">
    <a class="btn btn-primary mr-2"><i class="fa fa-puzzle-piece"></i>查看总课表</a>
  </div>
</div>
<div class="schedule-container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>时间</th>
      <th>周一</th>
      <th>周二</th>
      <th>周三</th>
      <th>周四</th>
      <th>周五</th>
      <th>周六</th>
      <th>周天</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let period of periods">
        <td>{{ period.time }}</td>
        <td *ngFor="let day of days">
          <ng-container *ngIf="getClassInfo(day, period.time) as classInfo">
            {{ classInfo.courseName }}
          </ng-container>
          <ng-container *ngIf="!getClassInfo(day, period.time)">
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
