<div class="container-fluid">
  <div class="row">
    <div class="height color col-12">
      <h1 class="display-5">课表管理系统</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-1 d-flex">
      <ul class="nav flex-column nav-pills p-2">
        <li class="nav-item">
          <a class="nav-link active spacing" href="#"><i class="fa-solid fa-house"></i>首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link spacing" href="#"><i class="fa-solid fa-address-book"></i>用户管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link spacing" href="#"><i class="fa-solid fa-list"></i>班级管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active spacing" href="#"><i class="fa-solid fa-list"></i>课程管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link spacing" href="#"><i class="fa-solid fa-calendar-days"></i>学期管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link spacing" href="#"><i class="fa-solid fa-layer-group"></i>课表查询</a>
        </li>
        <li class="nav-item">
          <a class="nav-link spacing" href="#"><i class="fa-solid fa-circle-user"></i>个人中心</a>
        </li>
      </ul>
    </div>
    <div class="col-11 d-flex">
      其他内容
    </div>
  </div>
</div>