<form class="container-sm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="mb-3 row">
      <label for="school" class="col-sm-2 col-form-label">学校</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="school" id="school" [value]="school" readonly />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="clazz" class="col-sm-2 col-form-label">班级</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="school"id="clazz" [value]="clazz" readonly />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="teacher" class="col-sm-2 col-form-label">班主任</label>
      <div class="col-sm-10">
        <app-teacher-select formControlName="teacherId" [currentSchoolId]="schoolId$ | async"></app-teacher-select>
        <div *ngIf="formGroup.get('teacherId')?.invalid" class="text-danger mt-1" id="teacher">必须选择一名教师</div>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-sm-10 offset-2">
        <button class="btn btn-primary" [disabled]="formGroup.invalid">保存</button>
      </div>
    </div>
  </form>
  
  