<nav class="navbar navbar-light bg-light">
  <form class="form-inline" [formGroup]="formGroup">
    <div class="mr-2">
      <nz-select nzAllowClear  nzPlaceHolder="选择课程类型"
                 formControlName="type">
        <nz-option nzCustomContent [nzLabel]="'必修'" [nzValue]="2">
          必修
        </nz-option>
        <nz-option nzCustomContent [nzLabel]="'选修'" [nzValue]="1">
          选修
        </nz-option>
      </nz-select>
    </div>
    <div>
      <input formControlName="searchCourse" name="searchTeacherNo" class="form-control mr-sm-2" type="search" placeholder="请输入课程名称" aria-label="Search" >
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="onSearch()">搜索</button>
  </form>
</nav>

<div class="row">
  <div class="col-12 text-right">
    <a class="btn btn-primary mr-2" (click)="checkBeforeAdd()"><i class="fas fa-plus"></i>新增</a>
  </div>
</div>
<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>课名</th>
    <th>类型</th>
    <th>学校</th>
    <th>班级</th>
    <th>节次</th>
    <th>星期</th>
    <th>周</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let course of pageData.content; index as i">
    <td>{{ i + 1 }}</td>
    <td>{{ course.name}}</td>
    <td *ngIf="course.type === 2; else choose">必修</td>
    <td>天津职业技术师范大学</td>
    <td>大数据2301班</td>
    <td>{{ course.range }}</td>
    <td>{{ course.week }}</td>
    <td>5-7</td>
    <td>
      <a class="btn btn-outline-primary btn-sm" [routerLink]="['edit/', course.id, course.courseInfoId]">
        <i class="fa fa-pen"></i>编辑
      </a>
      <a *ngIf="course.type === 1" class="btn btn-outline-success btn-sm">
        <i class="fa fa-upload" aria-hidden="true"></i>
        添加
      </a>
      <span class="btn btn-outline-danger btn-sm" (click)="onDelete(course.courseInfoId)">
          <i class="far fa-trash-alt"></i>删除
        </span>
    </td>
  </tr>
  </tbody>
</table>
<ng-template #choose>
  <td>选修</td>
</ng-template>
<!--$event是angular的一个关键字，表示子组件弹出的内容-->
<div class="text-right mr-2">
  <app-page [page]="pageData" (beCurrentPageChange)="onPage($event)" (beSizeChange)="onSize($event)"></app-page>
</div>
