<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input [(ngModel)]="searchName" name="searchName" class="form-control mr-sm-2" type="search" placeholder="请输入学生姓名" aria-label="Search" >
    <input [(ngModel)]="searchStudentNo" name="searchName" class="form-control mr-sm-2" type="search" placeholder="请输入学生学号" aria-label="Search" >
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="onSearch()">搜索</button>
  </form>
</nav>

<div class="row">
  <div class="col-12 text-right">
    <a class="btn btn-primary mr-2" routerLink="./add"><i class="fas fa-plus"></i>新增</a>
  </div>

  <table class="table table-striped mt-2">
    <thead>
    <tr class="table-primary">
      <th>序号</th>
      <th>姓名</th>
      <th>学号</th>
      <th>学校</th>
      <th>班级</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of pageData.content; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.student_no }}</td>
      <td>{{ user.school.school }}</td>
      <td>{{ user.clazz.clazz }}</td>
      <td *ngIf="user.status; else userIsFreeze">
        <span class="badge badge-pill badge-success">激活</span>
      </td>
      <td>
        <a class="btn btn-outline-primary btn-sm" (click)="onEdit(user.id)">
          <i class="fa fa-pen"></i>编辑
        </a>
        <span class="btn btn-outline-danger btn-sm" (click)="onDelete(user.id)">
          <i class="far fa-trash-alt"></i>删除
        </span>
        <span *ngIf="user.status === 1" class="btn btn-sm btn-outline-danger"  (click)="onActive(user.id)">
          <i class="fa fa-asterisk"></i>冻结
        </span>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #userIsFreeze>
    <td>
      <span class="badge badge-pill badge-danger">冻结</span>
    </td>
  </ng-template>
  <ng-template #noDelete>
  </ng-template>
</div>
<div class="text-right mr-2">
  <app-page [page]="pageData" [current]="currentPage" (beCurrentPageChange)="onPage($event)"
            (beSizeChange)="onSize($event)"></app-page>
</div>
